<div class="main-header">
  <div class="left-header">
      <div class="main-header-title">
        <%=link_to '出費管理アプリ', root_path, class:"header-logo-link" %>
          ----トップページ----
      </div>
  </div>

  <div class="right-header">
      <div class="main-header-logout">
      <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "post" %>
      </div>
  </div>
</div>

<div class="top-screen">

    <div class="top-info">

    <div class="top-info-left">
        <div class="top-info-title">昨日</div>
        <div class="top-info-left-body">
          <div class="top-info-left-body1">
            <%= current_user.expenses.where(start_time: Date.yesterday).sum(:price) %>円出費しました
          </div>
          <div class="top-info-left-body1">
            出費を見直しましょう！！
          </div>
        </div>
      </div>

      <div class="top-info-left">
        <div class="top-info-title">今日</div>
        <div class="top-info-left-body">
          <div class="top-info-left-body1">
            <%= current_user.expenses.where(start_time: Date.today).sum(:price) %>円出費しました
          </div>
          <div class="top-info-left-body1">
            <%= current_user.plans.where(start_time: Date.today).sum(:price) %>円出費予定があります
          </div>
        </div>
      </div>

      <div class="top-info-right">
        <div class="top-info-title">明日</div>
        <div class="top-info-right-body">
          <div class="top-info-left-body1">
            <%= current_user.plans.where(start_time: Date.tomorrow).sum(:price) %>円出費予定です
          </div>
          <div class="top-info-left-body1">
            口座の残高を確認しましょう！
          </div>
        </div>
      </div>
    </div>
    
   <table class="top-list-table">
   <h2>最新の出費履歴</h2>
          <thead>
              <tr>
                 <th>詳細</th>
                 <th>日付</th>
                 <th>名前</th>
                 <th>金額</th>
                 <th>購入場所</th>
                 <th>カテゴリー</th>
                 <th>支払い方法</th>
               </tr>
           </thead>

         <tbody>
          <% @expenses.last(3).each do |expense| %>
            <tr>
              <td><%= link_to "詳細", expense_path(expense.id), class: "post" %></td>
              <td><%= expense.start_time.strftime("%m/%d") %></td>
              <td><%= expense.name %></td>
              <td>¥<%= expense.price %></td>
              <td><%= expense.wheretobuy %></td>
              <td><%= expense.category.name %></td>
              <td><%= expense.payment.name %></td>
             </tr>            
          <% end %>
           
          </tbody>
      </table>
 </table>

  <table class="top-list-table">
   <h2>最新の出費予定履歴</h2>
          <thead>
              <tr>
                 <th>詳細</th>
                 <th>日付</th>
                 <th>名前</th>
                 <th>金額</th>
                 <th>支払い方法</th>
               </tr>
           </thead>

         <tbody>
          <% @plans.last(3).each do |plan| %>
            <tr>
            <td><%= link_to "詳細", edit_plan_path(plan.id), class: "get" %></td>
              <td><%= plan.start_time.strftime("%m/%d") %></td>
              <td><%= plan.name %></td>
              <td>¥<%= plan.price %></td>
              <td><%= plan.payment.name %></td>
             </tr>            
          <% end %>
           
          </tbody>
      </table>
  </table>



</div>