<%# サイドバーのheader %>
<div class="side-bar-header">

  <div class="header-logo">
    <%=link_to '出費管理アプリ', root_path, class:"header-logo-link" %>
  </div>

</div>

<div class="link-lists">
  
  <ul>

    <li class="show" ><%= link_to "トップページ", root_path, class: "post" %> </li>

    <li class="show" ><%= link_to "出費入力", new_expense_path, class: "post" %> </li>

    <li class="show" ><%= link_to "カレンダー", plans_path, class: "post" %> </li>

    <li class="show" ><%= link_to "出費履歴", expenses_path, class: "post" %> </li>

    <li class="show" ><%= link_to "分析", analysis_index_path, class: "post" %> </li>

  </ul>


</div>