<div class="main-header">
 
  <div class="left-header">
      <div class="main-header-title">
        <div class="show-lists" id="pull-down-top">出費履歴</div>
      </div>
  </div>

  <div class="right-header">
    <% if user_signed_in? %>
        <div class="user_nav grid-6">
          <li><%= link_to current_user.nickname, "/users/#{current_user.id}", class: "user-nickname" %></li>
          <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li>
       </div>
    <% else %>
        <div class="grid-6">
         <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
         <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
       </div>
    <% end %>
  </div>

</div>

<div class="top-screen">

  <div class="top-list" id="show-top-list">
    <div class="top-list-all">
      <div class="search_list">
        <%= search_form_for @q do |f| %>

        <div class="search_keyworrd">
           <%= f.label :name, "名前検索" %>
           <%= f.search_field :name_cont %>
        </div>

        <div class="search_date">
            <%= f.label :start_time,"日付" %>
            <%= f.date_select :start_time_gteq, include_blank: '-' %>日〜
            <%= f.date_select :start_time_lteq, include_blank: '-' %>日
        </div>

        <div class="search_date">
            <%= f.label :payment_id,"支払い方法" %>
            <%= f.radio_button :payment_id_eq, '', {:checked => true} %>指定なし
            <%= f.radio_button :payment_id_eq, 2 %>現金
            <%= f.radio_button :payment_id_eq, 3 %>口座振替
            <%= f.radio_button :payment_id_eq, 4 %>クレジットカード
            <%= f.radio_button :payment_id_eq, 5 %>電子マネー
            <%= f.radio_button :payment_id_eq, 6 %>その他
        </div>


        <div class="seach" id="seach">
            <%= f.submit "検索" %>
             <%=link_to 'リセット', expenses_path %>
        </div>
      </div>

      <table class="top-list-table">
          <thead>
              <tr>
                 <th>詳細</th>
                 <th><%= sort_link(@q, :start_time, "日付") %></th>
                 <th><%= sort_link(@q, :name, "名前") %></th>
                 <th>金額</th>
                 <th>購入場所</th>
                 <th>カテゴリー</th>
                 <th>支払い方法</th>
               </tr>
           </thead>

          <tbody>
          <% @expenses.each do |expense| %>
            <tr>
              <td><%= link_to "詳細", expense_path(expense.id), class: "post" %></td>
              <td><%= expense.start_time.strftime("%m/%d") %></td>
              <td><%= expense.name %></td>
              <td>¥<%= expense.price %></td>
              <td><%= expense.wheretobuy %></td>
              <td><%= expense.category.name %></td>
              <td><%= expense.payment.name %></td>
             </tr>
             <% end %>
          <% end %>
           
          </tbody>
      </table>
      <%= paginate @expenses %> 
    </div>

  </div>


</div>