<div class="main-header">
 
  <div class="left-header">
     <div class="main-header-title">

        <div class="show-lists hidden" id="pull-down-calendar">カレンダー</div>
        <div class="show-lists hidden" id="pull-down-rireki">出費履歴</div>

      </div>
  </div>

  <div class="right-header">
    <% if user_signed_in? %>
        <div class="user_nav grid-6">
          <li><%= link_to current_user.nickname, "/users/#{current_user.id}", class: "user-nickname" %></li>
          <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li>
       </div>
    <% else %>
        <div class="grid-6">
          <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
         <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
       </div>
    <% end %>
  </div>

</div>

<div class="top-screen">

  <div class="top-top">
    <h2>トップページ</h2>
      <div>出費を管理するアプリです</div>
  </div>

  <div class="top-calender hidden" id="show-top-calender">
    <h2>カレンダー</h2>
       <%= month_calendar events: @expenses do |date, expenses| %>
          <%= date.day %>
  
           <% if Expense.where(start_time: date).sum(:price) > 0%>

            <div>支出額は
               <%= Expense.where(start_time: date).sum(:price) %>円です
            </div>

           <% end %>
 
        <% end %>
   </div>


   <div class="top-list hidden" id="show-top-list">
    <h2>出費履歴</h2>
      <% @expenses.each do |expense| %>
      <tr>
       <%= link_to "詳細", expense_path(expense.id), class: "post" %>
       
        <td><%= expense.start_time.strftime("%m/%d") %></td>
        <td><%= expense.name %></td>
        <td>¥<%= expense.price %></td>
        <td><%= expense.wheretobuy %></td>
        <td><%= expense.category.name %></td>
        <td><%= expense.payment.name %></td>
      </tr>
    <% end %>
   </div>


</div>