<%# サイドバーのheader %>
<div class="side-bar-header">

  <div class="header-logo">
    <%=link_to '出費管理アプリ', root_path, class:"header-logo-link" %>
  </div>

</div>

<div class="link-lists">
  
  <ul>

    <li class="show" ><%= link_to "トップページ", root_path, class: "post" %> </li>
 
    <li class="show" ><%= link_to "出費入力", new_expense_path, class: "post" %> </li>

    <li class="show" ><%= link_to "カレンダー", plans_path, class: "post" %> </li>

    <li class="show" ><%= link_to "出費履歴", expenses_path, class: "post" %> </li>

  </ul>






  <%# <table> %>

  <%# <thead> %>
  <%# <div>最新の履歴</div> %>
    <%# <tr class="sideber-chokin"> %>
      <%# <th>日付</th> %>
      <%# <th>金額</th> %>
      <%# <th colspan="3"></th> %>
    <%# </tr> %>
  <%# </thead> %>

  <%# <tbody class="sideber-chokin-list"> %>
    <%# <% @expenses.last(5).each do |expense| %> 
      <%# <tr class="list"> %>
        <%# <td><%= expense.start_time.strftime("%m/%d") %></td> 
        <%# <td>¥<%= expense.price %></td> 
      <%# </tr> %>

    <%# <% end %> 
  <%# </tbody> %>
<%# </table> %>
</div>