<h1>家計簿</h1>


<% if user_signed_in? %>
      <div class="user_nav grid-6">
        <li><%= link_to current_user.nickname, "/users/#{current_user.id}", class: "user-nickname" %></li>
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li>
      </div>
<% else %>
      <div class="grid-6">
        <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
        <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
      </div>
<% end %>

 <%= link_to "家計簿を入力する", new_expense_path, class: "post" %>


<h2>カレンダー</h2>


<%= month_calendar events: @expenses do |date, expenses| %>
  
  <%= date.day %>
  <div>支出額</div>
   <% expenses.each do |expense| %>
    <div>
      <%= expense.price %>
    </div>
  <% end %>

<% end %>


<h2>リスト</h2>



    <% @expenses.each do |expense| %>
      <tr>
       <%= link_to "詳細", expense_path(expense.id), class: "post" %>
       
        <td><%= expense.start_time.strftime("%m/%d") %></td>
        <td><%= expense.name %></td>
        <td>¥<%= expense.price %></td>
        <td><%= expense.wheretobuy %></td>
        <td><%= expense.category.name %></td>
        <td><%= expense.payment.name %></td>





      </tr>
    <% end %>