<h1>家計簿</h1>


<% if user_signed_in? %>
      <div class="user_nav grid-6">
        <li><%= link_to current_user.nickname, "/users/#{current_user.id}", class: "user-nickname" %></li>
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li>
      </div>
<% else %>
      <div class="grid-6">
        <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
        <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
      </div>
<% end %>

 <%= link_to "家計簿を入力する" %>


<h2>カレンダー</h2>


<%= month_calendar  do |date| %>
  
  <%= date.day %>
  <div>収入</div>
  <div>支出</div>
  <div>合計</div>
<% end %>