<div class="main-header">
  <div class="left-header">
      <div class="main-header-title">
        <%=link_to '出費管理アプリ', root_path, class:"header-logo-link" %>
          ----カレンダー----
      </div>
  </div>

  <div class="right-header">
      <div class="main-header-logout">
      <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "post" %>
      </div>
  </div>
</div>

<div class="top-screen">

  <div class="top-calender" id="show-top-calender">
       <%= month_calendar events: @plans do |date, plans| %>
         <%= date.day %>
         <div class = "clennder-expenses">
           <% if current_user.expenses.where(start_time: date).sum(:price) > 0%>
             <div>
                <%= current_user.expenses.where(start_time: date).sum(:price) %>円出費
             </div>
           <% end %>
         </div>

         <div class = "calender-plans">
           <% plans.each do |plan| %>
             <div class = "calender-plan">
               <%= link_to "✅", edit_plan_path(plan.id), class: "get" %>
             </div>
           <% end %>

           <% if current_user.plans.where(start_time: date).sum(:price) > 0%>
             <div>
                <%= current_user.plans.where(start_time: date).sum(:price) %>円出費予定
             </div>
           <% end %>
         </div>


        <% end %>
   </div>




</div>