<div class="edit-expense">
  <div class="edit-expense-form">
    <div class="edit-expense-top">
      出費予定の確認・変更
    </div>

      <div class="edit-expense-body">
        <%= form_with model:@plan, local: true do |f| %>

          <div class="edit-expense-body-name">支払日</div>
          <%= f.date_select :start_time, id:"plan-day" %>

          <div class="edit-expense-body-name">名前</div>
          <%= f.text_area :name, class:"expense-text", id:"plan-name", placeholder:"購入した物（必須 40文字まで)", maxlength:"40" %>

          <div class="edit-expense-body-name">金額</div>
          <span class="sell-yen">¥</span>
          <%= f.text_field :price, class:"price-input", id:"plan-price", placeholder:"例）300" %>

          <div class="edit-expense-body-name">支払い方法</div>
          <%= f.collection_select(:payment_id, Payment.all, :id, :name, {}, {class:"select-box", id:"plan-payment"}) %>

          <div class="edit-expense-body-name">メモ</div>
          <%= f.text_area :memo, class:"expense-text", id:"plan-memo" %>
 
          <div class="sell-btn-contents">
            <%= f.submit "変更する" ,class:"sell-btn" %>
            
            <%=link_to 'もどる', plans_path, class:"back-btn" %>
          </div>
        <% end %>
      </div>
  </div>
</div>